.header-container {
  display: flex;
  justify-content: space-between; 
  
  padding-top: 2.5rem;
  
}
.header-background{
  background-color: #19191B;
  width: 100%;


}
.image-container {
  padding-left: 4rem;
}

.routes-container {
  display: flex;
  gap: 2rem; 
  padding-right:4rem;
}

.route{
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
